doctype html

link(rel='stylesheet', href='/style.css')


html(lang="en")
  head
    title kalapeli
    meta(charset="UTF-8")
body 
  .gameimg
    img.logo(src='/images/kalapeli.png', alt='logo')
    .slider
      ul.timeline
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        
      input(type='range', min='0', max='10', step='0')
      p  
      li  
    .slider
      ul.timeline 
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
    
      input(type='range', min='0', max='10', step='0')
      p
      li
    .slider
      ul.timeline 
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        
        
      input(type='range', min='0', max='10', step='0')        
      p
      li
    .slider
      ul.timeline 
        li 
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li

      input(type='range', min='0', max='10', step='0')    
