doctype html

link(rel='stylesheet', href='test.css')


html(lang="en")
  head
    title kalapeli
    meta(charset="UTF-8")
  
  
body
  #container
  p perkele
    script(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/delaunay.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/TweenMax.min.js')
